@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .container {
    @apply max-w-720p m-auto w-11/12;
  }
}

@layer utilities {
  .bg-primaryGradient {
    @apply bg-gradient-to-r from-primaryPal-400 to-primaryPal-600;
  }
  .hover-primary-gradient {
    @apply hover:from-primaryPal-500 hover:to-primaryPal-700;
  }
  .hover-primary-solid {
    @apply hover:bg-primaryPal-600 hover:text-white;
  }
  .hover-primary-outline {
    @apply hover:bg-primaryPal-100 hover:text-primaryPal-700 hover:border-primaryPal-700;
  }

  .gradient {
    height: fit-content;
    z-index: 3;
    width: 100%;
    /* max-width: 640px; */
    background-image: radial-gradient(
        at 27% 37%,
        hsla(215, 98%, 61%, 1) 0px,
        transparent 0%
      ),
      radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
      radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
      radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
      radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
      radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
      radial-gradient(at 79% 53%, rgb(179, 238, 165) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(70%);
    opacity: 0.1;
  }
}
