@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      scroll-behavior: smooth;
   }

   /* Estilo de la barra de desplazamiento vertical */
   ::-webkit-scrollbar {
      width: 3px; /* Ancho de la barra de desplazamiento */
   }

   ::-webkit-scrollbar-thumb {
      background-color: #f0bf7a; /* Color del pulgar de la barra de desplazamiento */
      border-radius: 5px; /* Radio de los bordes del pulgar */
   }

   ::-webkit-scrollbar-thumb:hover {
      background-color: #63f861ff; /* Cambio de color al pasar el mouse sobre el pulgar */
   }

   ::-webkit-scrollbar-track {
      background-color: #242528; /* Color de fondo de la barra de desplazamiento */
   }

   h2 {
      @apply sm:text-4xl text-3xl font-bold;
   }
   h3 {
      @apply sm:text-3xl text-2xl font-medium;
   }
   h4 {
      @apply sm:text-2xl text-xl font-medium;
   }
   h5 {
      @apply sm:text-xl text-lg font-medium;
   }
   h6 {
      @apply sm:text-lg text-base font-medium;
   }
}

@layer components {
   .container {
      @apply max-w-720p m-auto w-11/12 overflow-hidden;
   }
}

@layer utilities {
   .btn {
      @apply text-lg py-2 px-8 rounded-full hover:shadow-md flex justify-center items-center;
   }
   .btn-mediun {
      @apply min-w-[200px];
   }
   .btn-primary {
      @apply text-white bg-gradient-to-tr from-darkMode via-primaryPal-600 to-primary hover:bg-primaryPal-700 transition-colors;
   }
   .btn-outline {
      @apply border text-white border-gray-200 bg-primaryPal-600/10 hover:bg-primary/40 hover:border-white transition-colors;
   }

   .btn-white {
      @apply min-w-[100px] text-xs sm:text-sm font-bold text-gray-100 shadow bg-primaryPal-500 active:scale-90 hover:bg-primaryPal-600 transition-colors py-2 px-3 rounded-lg cursor-pointer;
   }

   .hover-primary-solid {
      @apply hover:bg-primaryPal-600 hover:text-white;
   }
   .hover-primary-outline {
      @apply hover:bg-primaryPal-100 hover:text-primaryPal-700 hover:border-primaryPal-700;
   }

   .input-register_login {
      @apply border-2 border-gray-400 rounded-md p-2 focus:outline-none focus:border-blue-400 bg-slate-50;
   }
   .input {
      @apply w-full bg-gray-800 placeholder:text-gray-300/30 placeholder:text-sm placeholder:font-light rounded-xl border bg-opacity-40 border-gray-300/40 focus:bg-transparent focus:ring-2 focus:ring-primaryPal-900 focus:border-primary text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
   }
   .input-editable {
      @apply w-full bg-transparent placeholder:text-gray-300/30 placeholder:text-sm placeholder:font-light rounded-xl border bg-opacity-40 border-gray-300/40 focus:bg-transparent focus:ring-2 focus:ring-primaryPal-900 focus:border-primary text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
   }
}
