@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   html {
      scroll-behavior: smooth;
      scrollbar-width: thin;
      scrollbar-color: #D6B57D #2b2b2b;
   }

   h2 {
      @apply sm:text-4xl text-3xl font-bold;
   }
   h3 {
      @apply sm:text-3xl text-2xl font-medium;
   }
   h4 {
      @apply sm:text-2xl text-xl font-medium;
   }
   h5 {
      @apply sm:text-xl text-lg font-medium;
   }
   h6 {
      @apply sm:text-lg text-base font-medium;
   }
}

@layer components {
   .container {
      @apply max-w-720p m-auto w-11/12 overflow-hidden;
   }

   .curved {
      position: relative;
      height: 50vh;
      border-bottom-left-radius: 50% 34%;
      border-bottom-right-radius: 50% 34%;
   }
}

@layer utilities {
   .btn-white {
      @apply min-w-[100px] text-xs sm:text-sm font-bold text-gray-600 shadow bg-gray-50 active:scale-90 hover:bg-white transition-colors py-3 px-3 rounded-lg cursor-pointer;
   }

   .hover-primary-solid {
      @apply hover:bg-pri-600 hover:text-white;
   }
   .hover-primary-outline {
      @apply hover:bg-pri-100 hover:text-pri-700 hover:border-pri-700;
   }

   .input-register_login {
      @apply border-2 border-gray-400 rounded-md p-2 focus:outline-none focus:border-blue-400 bg-slate-50;
   }
   .input {
      @apply w-full bg-gray-800 placeholder:text-gray-300/30 placeholder:text-sm placeholder:font-light rounded-xl border bg-opacity-40 border-gray-300/40 focus:bg-transparent focus:ring-2 focus:ring-pri-900 focus:border-primary text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
   }
   .input-editable {
      @apply w-full bg-transparent placeholder:text-gray-300/30 placeholder:text-sm placeholder:font-light rounded-xl border bg-opacity-40 border-gray-300/40 focus:bg-transparent focus:ring-2 focus:ring-pri-900 focus:border-primary text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out;
   }
}
